{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "corejs": 3,
        "useBuiltIns": "usage" // 按需引入 polyfill
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": ["@babel/plugin-syntax-dynamic-import"]
}
